[Unit]
Description=Kafka service

[Service]
User={{ amq_streams_user }}
Group={{ amq_streams_group }}


Type=forking
Environment=JAVA_HOME={{ amq_streams_java_home }}
Environment=LOG_DIR={{ amq_streams_log_dir }}
ExecStart={{ amq_streams_home_dir }}/bin/kafka-server-start.sh -daemon {{ amq_streams_kafka_config_file }}

[Install]
WantedBy=multi-user.target